.admin-box{
    font-size: 14px;
}

.admin-box h1{
    font-size: 20px;
    margin-bottom: 15px;
    font-weight: bold;
}

.admin-box h2{
    font-size: 16px;
    margin-bottom: 15px;
    font-weight: bold;
}

.admin-box p{
    margin-bottom: 15px;
}

.admin-box .grid-view .summary{
    margin-bottom: 8px;
}

.booking-table{
    font-size: 12px;
}

.booking-table td{
    max-width: 200px;
    overflow: hidden;
}

table.detail-view{
    table-layout: fixed;
}