.tour-selection-wrap .tour-selection-wrap-in--hidden{
    display: none;
}
.tour-selection-wrap .tour-selection-wrap-in .tour-selection__flag.lsfw-flag{
    display: none;
    background-position: 0 0;
    background-image: none;
    background-position-x: -5px;
    width: 60px;
    height: 33px;
}


.tour-selection-wrap .tour-selection-wrap-in .bth__inp-block--has-flag .tour-selection__flag{
    display: block;
}

.hotel-search__place{
    font-size: 14px;
    font-weight: normal;
    vertical-align: bottom;
}

.hotel-search__rating{
    vertical-align: bottom;
}

.hotel-search__cut{
    display: inline-block;
    max-width: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: bottom;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
}

.order-form__step-2{
  display: none;
}